@charset "utf-8";

body {
  width: 100%;
  font-family: 'BIZ UD明朝', 'Hiragino Mincho Pro','ＭＳ Ｐ明朝','MS PMincho',serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #333;
}

html{/*自動スクロール制御*/
   scroll-behavior: smooth;
}

/*----head---*/
.topPage header {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 3rem;  
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: #232323;
  
}
.topPage header h1 img {
  height: 2rem;
  mix-blend-mode: screen;
  margin-left: 1rem;
  top:-1rem

}
.topPage header h1 {
  text-align: left;
}



/*---main---*/

.main-pic {
  display: flex;
  justify-content: center;
  height: 55vw;
  max-height: 750px;
  top:3rem;
}
.main-pic img {
  position: absolute;
  object-fit: cover;  
  top:30px;
  z-index: -10;
}
 .sc {
  position: absolute;  
  z-index: -5;
  mix-blend-mode: screen;
  animation: fire 4s ease-in-out infinite;
}
@keyframes fire {
  0% {
    opacity: 1;
  }  2% {
    opacity: 0.3;
  }3% {
    opacity: 0.8;
  }  5% {
    opacity: 0.5;
  }10% {
    opacity: 1;
  }60% {
    opacity: 0.6;
  } 62% {
    opacity: 1;
  } 63% {
    opacity: 0.3;
  }  64% {
    opacity: 0.6;
  } 66% {
    opacity: 0.9;
  } 98% {
    opacity: 0.6;
  }  100% {
    opacity: 1;
  }
}

.mu{
    position: absolute;  
  z-index: -4;
  mix-blend-mode: multiply
}
 .sc2 {
  position: absolute;  
  z-index: -2;
  mix-blend-mode: screen;
  animation: fire 8s ease-in-out infinite;
}

.menu-list {
  display: flex;
  justify-content: center;
  height: 8rem;
  padding: 0 20px;
}
  .menu-top {
    display: flex;
    justify-content: center;
    position: relative;
    height: 3rem;
    top:-2rem;
    padding: 0 0 1rem 0;
  }

.menu-list li {
  width:30vw;  
  height: 5rem;
  margin-bottom: 10px;
  text-align: center;  
  line-height: 6rem;
  /*background-color: #555;  */
  }
.menu-list li a {
  color: #aaa;
  padding: 2rem 0;
  font-size: 1.5rem;    
  /*戻す*/
  transition: filter 0.5s ease;  
}

/*
.menu-list li a p {
  vertical-align: center;
}*/

.menu-list .list-back {
  position: relative;
  top: -2rem;
  height: 8rem; 
  opacity: 0;
  filter: blur(50px) ;
  background-color: #d51414;
  z-index: -10;
  /*戻す*/
  transition: opacity 0.5s ease;  
}
  /*headerメニュー用*/
  .menu-top .list-back {
    position: relative;
    top: -2.5rem;
    height: 1rem; 
    opacity: 0;
    filter: blur(50px) ;
    background-color: #d51414;
    z-index: -1;
    /*戻す*/
      transition: opacity 0.5s ease;  
  } 
  header .menu-top li p {
    line-height: 1.2rem;
    }

  .menu-list li a:hover {
    filter: brightness(180%) ;
    transition: filter 0.5s ease;  
  }
  .menu-list li a:hover .list-back { 
    opacity: 1;
    transition: opacity 0.5s ease;  
  }



/**/
.sec-container {
  margin-bottom: 80px;
}

/* introduction */
.sec-introduction {
  position: relative;
  top: -3rem;
  min-height: 100vh;
  padding-top: 0;
  box-sizing: border-box;
  /*background-color: #e6ba5d;*/
    background-image: url(../images/sp2.jpg);
  background-size: 130%;
  background-position: top;
  animation: parallax linear both;
  animation-timeline: view();
}
  @keyframes parallax {
    0% {
      background-position: center 0;
      filter: sepia(100%) blur(0px);
    }
    15%{
      filter: sepia(95%) blur(0px);
    }60%{
      filter: sepia(0%) blur(0px);
    }
    80% {
      background-position: center -500px;
      filter: sepia(100%) blur(50px);
    }
  
  }


.sec-introduction.model {
  animation: m-parallax linear both;
  animation-timeline: view();
  margin: 0 0 30rem 0;
}
  @keyframes m-parallax {
        0% {
      transform: scale(150%);
      filter: blur(30px);
    }
    10%{
      transform: scale(140%);
       filter: blur(0px);
    }60%{
      transform: scale(100%);
      filter: blur(0px);
    }
    100% {
            filter: blur(10px);
    }
  }

.intro-fullscreen-item {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

    /*アニメーション*/
    .intro-fullscreen-item:hover .intro-img img {
      transform: scale(1.05);
      opacity: 1;
      transition: opacity 1.5s ease, transform 1.5s ease;
    }
        .model .intro-fullscreen-item:hover .intro-img img {
          transform: scale(1.2);
          opacity: 1;
          transition: opacity 1.5s ease, transform 1.5s ease;
        }
    .intro-fullscreen-item:hover .intro-img  {      
      opacity: 1;
      backdrop-filter: blur(10px);
      transition: opacity 1.5s ease;
    }
    .intro-fullscreen-item:hover .intro-text-inner  {      
      transform: translateX(0%);
      transition: transform 1.5s ease;
    }
        .sekou .intro-fullscreen-item:hover .intro-text-inner  {  
          background: rgba(0, 0, 0, 0.3);    
          transform: translateX(0%);
          transition: transform 1.5s ease;
        }
        .model  .intro-fullscreen-item:hover .intro-text-inner  {      
          transform: translateY(-50%);
          transition: transform 1.5s ease;
        }
        .model .intro-text-wrapper:hover .intro-text-inner  {      
          transform: translateY(10%);
          transition: transform 1.5s ease;
        }
/* 画像を小さくして左に テキストを右に移動 */
.intro-img {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 55%;
  height: 70%;
  transform: translateY(-50%);  
  overflow: hidden;  
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);   
  opacity: 0;
  /*ゆっくり戻す*/
  transition:opacity 1.5s ease;
}
    .sekou .intro-img {
      position: absolute;
      top: 50%;
      left: 5%;
      width: 70%;
      height: 70%;
      transform: translateY(-50%);  
      overflow: hidden;  
      border-radius: 50%;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);   
      opacity: 0;
      /*ゆっくり戻す*/
      transition:opacity 1.5s ease;
    }
    .model .intro-img {
      position: absolute;
      top: 50%;
      left: 5%;
      width: 80%;
      height: 70%;
      transform: translateY(-50%);  
      overflow: hidden;  
      border-radius: 0px;
      border: solid 2px #333;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);   
      opacity: 0;
      /*ゆっくり戻す*/
      transition:opacity 1.5s ease;
    }
.intro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  /*ゆっくり戻す*/
  transition:opacity 1.5s ease, transform 0.3s ease;
}


/* 1枚目のテキスト: 右側に配置、半分画像から出る */
.intro-text-wrapper {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 50%;
  transform: translateY(-50%);
  z-index: 2;   
}
  .model .intro-text-wrapper{
    right: 0%;
    transform: translateY(0%);
    transform: translateX(0%);
  }

.intro-text-inner {
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: none;
  position: relative;  
  /*ゆっくり戻す*/
  transform:  translateX(-40%);
  transition:transform 1.5s ease;  
}
  .model #no1 .intro-text-inner {
    padding: 20px 40px 20px 20px;
    background: rgba(0,0,0, 0.3);
    border-left: solid 0.75rem #eee;
    backdrop-filter: none;
    position: relative;    
    /*ゆっくり戻す*/    
    transform:  translateY(-50%);
    transition:transform 1.5s ease;  
  }
  .model #no2 .intro-text-inner {
    padding:20px 40px 20px 20px; 
    background: rgba(0,0,0, 0.3);
    border-left: solid 0.75rem #ec4;
    backdrop-filter: none;
    position: relative;    
    /*ゆっくり戻す*/    
    transform:  translateY(-50%);
    transition:transform 1.5s ease;  
  } 
   .model #no3 .intro-text-inner {
    padding:20px 40px 20px 20px; 
    background: rgba(0,0,0, 0.3);
    border-left: solid 0.75rem #629;
    backdrop-filter: none;
    position: relative;    
    /*ゆっくり戻す*/    
    transform:  translateY(-50%);
    transition:transform 1.5s ease;  
  }
  /*ぼかし背景*/
  .intro-text-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    /*backdrop-filter: blur(0px);
    transition: backdrop-filter 1.5s ease;
    transition: opacity 10s ease 10s, transform 10s ease; 
    */
  }

.intro-2-container {
  position: relative;  
  /*z-index: 5;*/
}
.intro-2-title {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  margin-bottom: 18px;
}
  .model .intro-2-title {
    text-align: left;
    font-size: 2.5rem;
  }
.intro-2-text {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.8;
}
  .model .intro-2-text {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.8;
  }
/**/

/*---@sekou---*/
.title {
  width: 100%;
  height: 97vh;
  padding: 45vh 0;
  background-color: #fff;
  color: #222;
  text-align: center;
  font-size: 3rem;
}
  .title.model-top{
    background-color: #333;
  }

.title h1{
  background-color: #999;  
}
.title.model-top h1,
.title.model-top h2{
  color: #ffc107;
}
.title h1:hover {
  filter: brightness(130%);
}

/* introduction */
.sekou .intro-fullscreen-item{
  height: 90vh;
}

.sec-introduction.sekou {
  position: relative;
  top: -3rem;
  min-height: 50vh;
  padding-top: 0;
  box-sizing: border-box;
  /*background-color: #e6ba5d;*/
    background-image: url();
  background-size: auto;
  background-position: top;
  animation: Rparallax linear both;
  animation-timeline: view();
}
  @keyframes Rparallax {
    0% {
      background-position: 0% 0%;
      filter: blur(30px) grayscale(100%)
    }40%{
      filter: blur(0px);
    }
    60%{
      filter: blur(0px) grayscale(0%);
    }
    100% {
      background-position: 30vw 0%; 
      filter: blur(30px);
    }
  }
.sec-introduction.sekou.no1{
background-image: url(../images/talk_backgr.jpeg);
background-size: 220vh;
}
.sec-introduction.sekou.rev.no2{
background-image: url(../images/sekkei_back.jpeg);
background-size: 220vw;
}
.sec-introduction.sekou.no3{
background-image: url(../images/sekou_back.jpeg);
background-size: 175vw;
}
.sec-introduction.sekou.rev.no4{
background-image: url(../images/nouhin_back.jpeg);
background-size: 175vw;
}
.sec-introduction.model.no1{
background-image: url(../images/model_no1_back.jpeg);
}
.sec-introduction.model.no2{
background-image: url(../images/model_no2_back.jpeg);
}
.sec-introduction.model.no3{
background-image: url(../images/model_no3_back.jpeg);
}

  /*逆配置*/
  .sec-introduction.sekou.rev {
   position: relative;
    top: -3rem;
    min-height: 50vh;
    padding-top: 0;
    box-sizing: border-box;
    /*background-color: #e6ba5d;*/
      background-image: url(https://static.mosya.dev/blogs/scroll-driven-animations/demo-sp2.jpg);
    background-size: contain;
    background-position: top;
    animation: Lparallax linear both;
    animation-timeline: view();
  }
    @keyframes Lparallax {
    0% {
      background-position: 0% 0%;
      filter: blur(30px) grayscale(100%)
    }40%{
      filter: blur(0px);
    }
    60%{
      filter: blur(0px) grayscale(0%);
    }
    100% {
      background-position: -50vw 0%; 
      filter: blur(30px);
    }
  }

  .rev .intro-text-wrapper {
    right: auto;
    left: 5%;
  }
  .rev .intro-text-inner {
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: none;
    position: relative;
    
    /*ゆっくり戻す*/
    transform:  translateX(40%);
    transition:transform 1.5s ease;  
  }
  .rev .intro-img {
    left: auto;
    right: 5%;
  }
  .rev .intro-img::after {
    display: none;
  }

.sekou .intro-2-container h3{
  text-align: center;
  font-size: 1rem;

  margin-top: 2rem;
}

.sekou .intro-2-container h2,
.sekou-start-link,
.model-start-link {
  text-align: center;
  font-size: 2rem;

  margin-top: -0.5rem;

  animation: fadedown 3s ease-in-out infinite;
}
.sekou-start-link a
.model-start-link a{
  top:-1rem;
}
@keyframes fadedown {
  0% {
    transform: translateY(-0.3rem);
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
}




/*---footer---*/

.footer {	
	background-color: #1a1a1a;
	position: relative;
  top:-3rem;  
}
.inner {
	width:95%;
	max-width:1000px;
	margin-right:auto;
	margin-left:auto;
	position:relative;
}

#foot-link {
  background: #1a1a1a;    
  color: #999;
  font-size: 12px;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 12rem;
}
	.link-box-left{
		float: left;
		width: 20rem;
	}
		.foot-logo{ 
      width: 5rem;
      float: left;
    }
    .foot-logo img {
      height: 8rem;
      /*margin-left: 5rem;*/
    }
			.foot-txt-box{
				width: 70%;
				float: right;
			}
			.foot-txt-box h2{
        font-size: 1.2rem;
        font-weight: bold;
        padding-bottom: 0.5rem;
      }
      foot-txt-box p{
        line-height: 1.75;
      }

				
	.link-box-right{
		float: right;
		width: 30rem;
		/*margin-top: -8rem;*/
    margin-right: 5vw;
	}

      /*タテ並び*/
			.workslist1,
			.workslist2,
			.site-link{
				float: left;
			}
      .works-link{
        font-weight: bold;
        font-size: 1.1rem;
      }
			.workslist1{
				width: 9rem;
        /*margin-left: 5vw;*/
			}
			.workslist2{
				width: 9rem;
				margin-top: 1.5rem
			}
				.works ul{
					padding-top: 0.25rem;
				}
				.works ul li:before { 
					content:"├";
					padding-right: 0.25rem;
				}
				.works ul li+li{
					margin-top: 0.5rem;
				}
				.works ul li a {
					color: #999;
          
				}
			.site-link{
				width: 9rem;
        font-size: 1rem;
			}
				.site-link ul li+li{
					margin-top: 0.75rem;
				}

#copyright{
  position: relative;
  bottom: -3rem;
	background: #000;
	padding: 1rem 0;
	text-align: center;
}







/* 以下に参考サイトのメニュー用CSSを貼り付ける */
/* メニューを画面上部に固定表示しています */
.gMenu {
  position: fixed;
  right: 0;
  top: -10px;
  width: 100%;
  z-index: 99;
}
/* メニューアイコンを画面右上に固定しています */
.gMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  padding-top: 5px;
  height: 12px;
}
/* メニューアイコン（三本線）の真ん中の線です */
.gMenu .menu-icon .navicon {
  background: #ffc107; /* 色は自由に変更可能です */
  display: block;
  height: 2px; /* 太さ */
  width: 31px; /* 長さ */
  position: relative;
  transition: background .4s ease-out; /* 形が変わる時のアニメーション */
}
/* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
  background: #ffc107; /* 色は自由に変更可能です */
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out; /* 形が変わる時のアニメーション */
  width: 100%;
}
.gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
.gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
/* 表示されるメニューです */
.gMenu .menu {
  background-color: #453720e6;
  overflow: hidden;
  max-height: 0; /* ★最初は高さを0にして非表示状態に */
  transition: max-height .6s; /* 表示されるときのアニメーション */
  text-align: center;
}
/* メニュー部分のデザインです */
.gMenu .menu li:first-of-type {
  padding-top: 50px;
}
.gMenu .menu li a {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.gMenu .menu li a:hover {
  background-color: #f4f4f4;
}
/* チェックボックスは常に非表示です */
.gMenu .menu-btn {
  display: none;
}
/* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
.gMenu .menu-btn:checked ~ .menu {
  max-height: 338px; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
  transition: max-height .6s;
}
/* メニューボタンの中央の線を非表示に */
.gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}

/* メニューボタンの上下の線を45度傾けて✕印を作ります */
.gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
.gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}
/* サイトに合わせてオリジナルカスタマイズ */
.gMenu .menu-icon {
  top: 26px;
}
.gMenu .menu-icon .navicon,
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
  background: #eee;
}