@charset "utf-8";


body {
  background-image: url(./images/bg.png);
  
  
  font-size: 16px;
  font-family: /* '殴り書きクレヨン', */ 'Arial','Hiragino Sans', sans-serif;
  color: #666;
}




header {    /*background-color: palegoldenrod;*/
  margin: 2% 10% 0% 5%;
  padding: 15px 0% 0px 0px;
  width: 85%;      
}

header h1 {
  font-size: 2rem;
  color: #5cc;
}

header h1::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  /*padding: 0rem 0rem 0 0;*/
  margin: 0rem 0.5rem 0rem 0rem;
  
  background-image: url( '../images/h1_icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5em;
  width: 1em;
  
  filter: invert(82%) sepia(56%) saturate(408%) hue-rotate(121deg) brightness(81%) contrast(98%);
  /*色変換：url(https://codepen.io/sosuke/pen/Pjoqqp)*/

  z-index: 101;
}

.comment {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 5px;
}

.icon {
  /*flex-basis: 100px;*/
  align-self: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

p.comment_fukidashi {   /*background-color: #3377bc;*/
  border-radius: 10px;
  border: 2px solid #bbb;
  width: 90%;

  align-self: center;
  margin: 0px 0px 0px 30px;
  padding: 1rem;    
}

/*吹き出し三角*/
.sankaku {
  display: inline; 
  /*display: inline-block;*/
  position: absolute;
  align-self: center;   

  border-radius: 0 0 0 5px;
  transform: rotate(45deg) skew(-20deg, -20deg);

  margin: 0 0 0 101px;
  width: 1rem;
  height: 1rem;
 
  border-top: 2.5px solid transparent;
  border-right: 2.5px solid transparent;
  border-bottom: 2.5px solid #bbb;
  border-left: 2.5px solid #bbb;  
       
  z-index:102;  
}

/*白背景*/
.mask {
  display: inline;
  position: absolute;
  align-self: center;

  margin: 0 0 0 95px;
  width: 1.5rem;
  height: 1.5rem;
  /*display: inline-block;*/
  background-color: #fff;
  
  z-index:101;  
}



main {   /*background-color: beige;*/
  /*display: flex;
  flex-wrap: wrap;*/
  margin: 0 0% 0 5%;
  width: 85%;
  padding: 0px 0px 0px 0px;    
}

.main_item {
  margin:0px 0 50px;
}

.main_item p {
  margin: 0;
  padding: 0 20px 0 3px;  
  line-height: 2;
}

main h2 {
display: inline-block;
margin: 1.5rem 0 1rem 0;
font-size: 1.5rem;
color: #38c;

vertical-align: middle;
}

h2::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  /*padding: 0rem 0rem 0 0;*/
  margin: 0rem 0.5rem 0.3rem 0rem;
  
  background-image: url( '../images/h2_icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.5em;
  height: 1.5em;

  filter:invert(50%) sepia(46%) saturate(2228%) hue-rotate(182deg) brightness(89%) contrast(78%);
  /*色変換：url(https://codepen.io/sosuke/pen/Pjoqqp)*/

  z-index: 101;
}



.text_and_image {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

img.e_g_ {
  border: 1px solid #bbb;
  height: clamp(100px, 14rem, 14rem);
}

 


aside {
  display: flex;
  justify-content: flex-end;
  /*flex-wrap: wrap-reverse;
  align-items: flex-end;  
  flex-basis: 10%;*/
  /* margin: 0 0 0 90%;*/
  right: 0%;
  bottom: 10%;
  width: 5rem;
  text-align: center;
  font-size: 1.5em;

  position: fixed;
  background-color: #fff;
}

aside:hover {
  opacity: 0.25;
  background-color: rgba(255 255 255 0);
}

.part_now{
  width:0;
  height: 0px;
  border-top: 2rem solid #5cc ;
  border-right: 5rem solid #5cc;
  border-bottom: 2rem solid #5cc;
  border-left: 1rem solid transparent;
  
  padding:0;
  margin:0;
}

.part_now_text {
  position:absolute;
  
  margin: 0.25rem 0 0 2rem;
  font-weight: bold;
  color: #fff;
}

.section p {
  margin: 0 0 0 1rem;
  padding: 0.75rem;
  border-bottom: 3px solid #5cc;
  color: #cee;
  
}

.section_now {  
  margin: 0 0 0 1rem;
  padding: 0.75rem 0;
  border-bottom: 3px solid #5cc;
  color: #5cc;
  background-color: #fff;
}




footer { 
  display: flex;
  justify-content: flex-end;

  font-size: 1.2rem;
  margin: 50px 10px 10px 0;
}
